@font-face {
    font-family: "DMSans";
    src: local("DMSans-Regular"),
        url("../assets/fonts/DM_Sans/DMSans-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "DMSans";
    src: local("DMSans-SemiBold"),
        url("../assets/fonts/DM_Sans/DMSans-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "DMSans";
    src: local("DMSans-Bold"),
        url("../assets/fonts/DM_Sans/DMSans-Bold.ttf");
    font-weight: 800;
}

:root {
    /* colors */
    --clr-neutral-900: hsl(233, 17%, 9%);
    --clr-neutral-800: hsl(235, 14%, 15%);
    --clr-neutral-700: hsl(235, 13%, 19%);
    --clr-neutral-600: hsl(234, 14%, 29%);
    --clr-neutral-200: hsl(240, 26%, 92%);
    --clr-neutral-100: hsl(240, 24%, 96%);
    --clr-neutral-0: hsl(0, 0%, 100%);

    --clr-blue-500: hsl(274, 90%, 73%);
    --clr-blue-400: hsl(274, 90%, 80%);
    --clr-yellow-500: hsl(37, 100%, 50%);
    --clr-orange-800: hsl(15, 99%, 43%);
    --clr-orange-500: hsl(15, 99%, 67%);

    --rad-4: 0.25rem;
    --rad-6: 0.375rem;
    --rad-12: 0.75rem;
    --rad-999: 100rem;

    --tp-1: normal normal 800 4rem/1 "DMSans", sans-serif;
    --tp-1-mobile: normal normal 800 2.5rem/1 "DMSans", sans-serif;
    --tp-2: normal normal 600 1.5rem/1.3 "DMSans", sans-serif;
    --tp-3: normal normal 400 1.25rem/1.4 "DMSans", sans-serif;
    --tp-4: normal normal 400 1rem/1.3 "DMSans", sans-serif;
}


/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DMSans";
    font-size: 100%;
	font: inherit;
    color: inherit;
    vertical-align: baseline;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
input, button, textarea { border: none; }
input:focus, button:focus, textarea:focus { outline: none;}

button { cursor: pointer; }

textarea {
  /* Hide for Chrome, Safari, and Opera */
  &::-webkit-scrollbar { display: none; }  
  /* Hide for Firefox */
  scrollbar-width: none;
  /* Hide for IE and Edge */
  -ms-overflow-style: none;
  /* Optional: Prevent resizing */
  resize: none;
}

/* additional tweaks */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    inset: -1px -1px;
    font-size: 0;
    color: transparent;
}

/* typography */
.wrapper.dark * {
    color: var(--clr-neutral-200);
}
.main-heading {
    font: var(--tp-1-mobile);
    letter-spacing: -1px;
}
.input__textarea {
    font: var(--tp-3);
    letter-spacing: -0.6px;
}
.input__options-readtime,
.input__character-limit-value,
.input__error-text {
    font: var(--tp-4);
    letter-spacing: -0.6px;
}


.counts__count-name {
    font: var(--tp-3);
    letter-spacing: -0.6px;
}
.counts__count-value {
    font: var(--tp-1-mobile);
    letter-spacing: -1px;
}
.ld__heading {
    font: var(--tp-2);
}
.ld__letter-data {
    font: var(--tp-4);
    letter-spacing: -0.6px;
}
.ld__show-more-btn {
    font: var(--tp-3);
    letter-spacing: -0.6px;
}
.ld__no-letters-found {
    font: var(--tp-4);
    letter-spacing: -0.6px;
}

/* layout mobile first */
body {
    display: grid;
}
.wrapper {
    display: grid;
    min-height: 100vh;
    width: 100%;

    /* variables */
    --container-padding: 1rem clamp(0.5rem, 12vw - 0.8rem, 1rem) 2rem;
    --container-gap: 2.5rem;
    --theme-btn-size: 2rem;
    --textarea-padding: 1rem;
    --input-options-gap: 0.75rem;
    --statistics-section-gap: 1.5rem;
    --counts-count-padding: 1.75rem 1.25rem;
}
.counter-container {
    display: grid;
    gap: var(--container-gap);
    align-content: start;
    margin: 0 auto;
    padding: var(--container-padding);
    width: 100%;
    max-width: 61.875rem;
    min-width: 16rem;
}

/* header design */
.cc__header {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    padding-block-end: 1rem;
}
.theme-switcher-btn {
    display: grid;
    place-items: center;
    width: var(--theme-btn-size);
    aspect-ratio: 1;
    border-radius: var(--rad-6);
}
.theme-switcher-btn > img {
    width: 1.375rem;
    height: 1.375rem;
}

.main-heading {
    text-align: center;
}

/* input section */
.input__textarea {
    padding: var(--textarea-padding);
    width: 100%;
    height: 12.5rem;
    border: 2px solid;
    border-radius: var(--rad-12);
    scroll-margin-block-start: 1rem;
}
.input__textarea:hover {
    cursor: pointer;
}

.input__error {
    display: flex;
    gap: 0.5rem;
    justify-content: start;
    align-items: start;
    margin-block-start: 0.5rem;
}
.input__error-icon {
    flex-shrink: 0;
    align-self: start;
    margin-block-start: 0.1rem;
    width: 1rem;
}
.input__options-readtime {
    display: flex;
    flex-direction: column;
    gap: var(--input-options-gap);
    margin-block-start: 1rem;
    width: fit-content;
}

.checkbox {
    display: flex;
    gap: 0.625rem;
    align-items: center;
    position: relative;
    width: fit-content;
    cursor: pointer;
}
.checkbox > input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    inset: 0;
}
.checkbox > .indicator {
    display: grid;
    place-items: center;
    flex: 0 0 auto;
    width: 1rem;
    height: 1rem;
    border: 1px solid;
    border-radius: var(--rad-4);
}
.checkbox > .indicator > img {
    display: none;
}
.checkbox > input:checked ~ .indicator {
    border: none;
}
.checkbox > input:checked ~ .indicator > img {
    display: block;
}

.input__character-limit {
    display: flex;
    gap: 0.625rem;
    align-items: center;
    height: 1.875rem;
}
.input__character-limit-value {
    max-width: 4rem;
    border: 1px solid;
    border-radius: var(--rad-6);
    background: transparent;
    text-align: center;
}

.cc__statistics {
    display: grid;
    gap: var(--statistics-section-gap);
}

.counts-section {
    display: grid;
    gap: 1rem;
}
.counts__count {
    display: grid;
    gap: 0.5rem;
    padding: var(--counts-count-padding);
    border-radius: var(--rad-12);
    background-repeat: no-repeat;
    background-position: calc(100% + 4.5rem) 50%;
}

.counts__count.total {
    background-color: var(--clr-blue-400);
    background-image: url("../assets/images/pattern-character-count.svg");
}
.counts__count.word {
    background-color: var(--clr-yellow-500);
    background-image: url("../assets/images/pattern-word-count.svg");
}
.counts__count.sentence {
    background-color: var(--clr-orange-500);
    background-image: url("../assets/images/pattern-sentence-count.svg");
}

.counts__count-value {
    order: -1;
}

.letter-density-section {
    display: grid;
    gap: 1.25rem;
}
.ld__data {
    display: grid;
    gap: 0.75rem;
    max-height: 12.7rem;
    overflow: hidden;
}
.ld__data.show-all {
    max-height: fit-content;
}
.ld__letter-data {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.3rem;
}
.ld__letter-name {
    flex: 0 0 1rem;
}
.ld__letter-value {
    flex: 0 0 6rem;
}
.ld__indicator {
    display: flex;
    justify-content: left;
    flex: 1 0 auto;
    height: 0.75rem;
    border-radius: var(--rad-999);
}
.ld__indicator-fill {
    flex: 0 0 auto;
    border-radius: inherit;
}

.ld__show-more-btn {
    justify-self: start;
    background: transparent;
}
.ld__show-more-btn > img {
    width: auto;
    height: 0.5rem;
    margin-inline-start: 0.25rem;
}

/* .hide {
    display: none;
} */

@media screen and (min-width: 28rem) {
    .wrapper {
        --container-padding: 1rem 2rem 5rem;
        --input-options-gap: 1.5rem;
    }
    .input__options-readtime {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        margin-inline-end: auto;
    }
}

@media screen and (min-width: 44rem) {
    .wrapper {
        --theme-btn-size: 2.75rem;
        --textarea-padding: 1.25rem;
        --counts-count-padding: 1.5rem 0.75rem;
    }
    .input__options-readtime {
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    .input__readtime {
        margin-inline-start: auto;
    }
    .counts-section {
        grid-auto-flow: column;
        grid-template-columns: repeat(3, 1fr);
    }
    .counts__count {
        flex-grow: 1;
    }
}

@media screen and (min-width: 45rem) {
    .wrapper {
        --container-padding: 2rem;
        --container-gap: 3rem;
        --counts-count-padding: 1.5rem 1rem;
    }
}