.wrapper.light {
    background-color: white;
    background-image: url("../assets/images/bg-light-theme.png")
}

.wrapper.light * {
    color: var(--clr-neutral-900);
}

/* header */
.wrapper.light .theme-switcher-btn {
    background: var(--clr-neutral-100);
}

/* input section colors */
.wrapper.light .input__textarea {
    background: var(--clr-neutral-100);
    border-color: var(--clr-neutral-200);
}
.wrapper.light .input__textarea:hover {
    background: var(--clr-neutral-200);
}
.wrapper.light .input__textarea:focus {
    background: var(--clr-neutral-200);
    border-color: var(--clr-blue-500);
    box-shadow: 0 0 0.625rem 0 var(--clr-blue-400);
}
.wrapper.light .input__textarea.error {
    border-color: var(--clr-orange-800);
    box-shadow: 0 0 0.5em 0 var(--clr-orange-800);   
}

.wrapper.light .input__error-text {
    color: var(--clr-orange-800);
}

/* checkbox colors */
.wrapper.light .checkbox > .indicator {
    border-color: var(--clr-neutral-900);
}
.wrapper.light .checkbox > input:checked ~ .indicator {
    background: var(--clr-blue-400);
}
.wrapper.light .input__character-limit-value {
    border: 1px solid var(--clr-neutral-600);
    caret-color: var(--clr-neutral-900);
}

/* letter density section */
.wrapper.light .ld__indicator {
    background: var(--clr-neutral-100);
}
.wrapper.light .ld__indicator-fill {
    background: var(--clr-blue-400);
}
.wrapper.light .ld__show-more-btn > img {
    filter: invert(1);
}